.red {
  position: absolute;
  right: -25px;
  top: -25%;
  z-index: 1000;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #f00;
  color: #eee;
}
